body {
    height: 125vh;
    background-size: 100px;
    font-family: sans-serif;
    margin-top: 80px;
    background-color: rgb(40, 40, 40);
}

header {
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    font-family: 'times new roman';
}