*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header{
    width: 100%;
    height: 100vh;
    padding: 0 8%;
    position: relative;
}

.Background-Image{
    width: auto;
    overflow: hidden;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: none;
}

.header-links{
    padding: 28px 0;
}

.header-links li{
    display: inline-block;
    margin: 0 15px;
}

.header-links li a{
    text-decoration: none;
    color: #faf;
    padding: 5px 0;
}